<!DOCTYPE html>
<h6><%= review.timestamp %></h6>
<% if (userSess) { %>
  <% if (userSess.id === review.user_id) { %>
    <img class="delete" onclick="confirmDelete(<%=review.id%>)" src="/img/trash.png"/>
  <% } %>
<% } %>
<p><%= review.review%></p>
