{
  "extends": "airbnb-base",
  "rules": {
   "comma-dangle": ["error", {
        "arrays": "ignore",
        "objects": "ignore",
        "imports": "ignore",
        "exports": "ignore",
        "functions": "ignore"
    }],
    "semi": ["error", "never"],
    "object-curly-spacing": ["error", "never"],
    "no-use-before-define": ["error", {"functions": false, "classes": true}],
    "no-underscore-dangle": 0,
    "import/newline-after-import": "off",
    "no-console": ["error", { allow: ["warn", "error"] }]
  },
  "env": {
    "browser": true,
    "node": true
  },
}