<!DOCTYPE html>

<% include ./partials/header %>

<img src="/img/vinyl-breaking.png"/>
    
<h2>Records</h2>
<div class="records">
  <% albums.forEach(function(album) { %>
    <% include ./albums/title %>
  <% }) %>
</div>

<h2>Recent Reviews</h2>
<div class="reviews">
  <% reviews.forEach(function(review) { %>
    <% albums.forEach(function(album) { %>
      <% if (album.id === review.album_id) { %>
       <h3><a href="/albums/<%= album.id %>"><%= album.title %></a></h3>
      <% } %>
    <% }) %>
    <% include ./reviews/review%>
    <% users.forEach(function(user) { %>
      <% if (user.id === review.user_id) {%>
        <h4><a href="/users/<%= user.id%>">By: <%= user.name %></a></h4>
      <% } %>
    <% }) %>
  <% }) %>
</div>


<% include ./partials/footer %>