<!DOCTYPE html>
<% include ../partials/header %>
<h1 class="text-left">ERROR</h1>
<h2 class="text-left"><%= error.message %></h2>
<pre class="text-left"><%= error.stack %></pre>
<% include ../partials/footer %>