html, body {
  margin: 0;
  padding: 0;
  width: 100vw;
  text-align: center;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: black;
}

a:visited {
  color: black;
}

a:hover {
  color: lightgray;
}

a:link {
  color: white;
}

nav {
  border: solid;
  overflow: hidden;
  height: 35px;
}

nav img {
  width: 30px;
}

nav span {
  position: relative;
  bottom: 5px;
  right: 10px;
  font-size: 30px
}

nav li {
  padding: 10px;
  position: relative;
  bottom: 15px;
}

.error {
  color: red;
}
.trash {
  width: 30px;
  height: 30px;
  cursor: pointer;
  margin: 10px;
  position: relative;
  left: 10px;
  bottom: 80px;
}

.container {
  display: flex;
}

.text-left {
  text-align: left;
}

.text-right {
  text-align: right;
}

.left {
  float: left;
}

.right {
  float: right;
}

.title, .name {
  text-decoration: underline;
}

.albums-page {
  width: 70%;
  margin-right: auto;
  margin-left: auto;
  overflow-y: scroll; 
}

.homepage .img {
  border-bottom: solid;
  width: 100%;
  height: 300px;
  overflow: hidden;
}

.homepage .records {
  width: 30%;
  height: 800px;
  overflow-y: scroll;
}

.reviews {
  width: 100%;
  height: 800px;
  padding: 10px;
}

.review {
  border-top: solid;
  padding: 10px;
  overflow-x: hidden;
}

.review h3 {
  text-align: left;
  width: 10%;
}

.review h6 {
  width: 80%;
  text-align: right;
  position: relative;
  bottom: 50px;
  left: 50px;
  padding: 5px;  
}

.review p {
  border-style: inset;
  width: 800px;
  height: 300px;
  text-align: left;
  overflow-y: scroll;
  position: relative;
  bottom: 40px;
}

.add-review-form {
  width: 600px;
  margin-right: auto;
  margin-left: auto;
}

.add-review-form textarea {
  resize: none;
  width: 600px;
  height: 400px;
}

.users-page .reviews {
  width: 900px;
  margin-right: auto;
  margin-left: auto;
}

.user-block {
  display: flex;
  margin: 10px;
}

.user-info {
  padding: 10px;
}